# 日志文件
*.log

# 系统缓存文件
.DS_Store

# 环境变量文件（本地自定义配置可忽略，项目核心 .env 不要忽略）
/.env
/.env.backup
/.env.production

# 开发工具配置
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# 认证信息
/auth.json

# Node 模块
/node_modules

# 公共目录下的构建、热更新、存储映射
/public/build
/public/hot
/public/storage

# 存储目录下的密钥文件和缓存
/storage/*.key
/storage/pail

# Composer 依赖包
/vendor

# Laravel 框架缓存（核心，不要忽略）
!/bootstrap/cache/.gitignore

# 本地自定义辅助脚本/文件（示例）
#/local-scripts/
#*.local.php


# Laravel 缓存文件（必须忽略）
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/framework/*
/storage/logs/*
/storage/temp/*
/storage/debugbar/*

# 编辑器临时文件
*.swp
*.swo
*~

# 测试、临时文件
.phpunit.result.cache
.phpunit.cache

/storage/framework/cache/*